export APP_PORT = "7471"
export APP_MODE = "debug"
export APP_ENV = "dev"

export DB_HOST = "localhost"
export DB_PORT = "5678"
export DB_USER = "postgres"
export DB_PASSWORD = "password"
export DB_NAME = "profiledb"

export NATS_URL= ""
export KEYCLOAK_SERVER_URL = ""
export KEYCLOAK_REALM = ""
export KEYCLOAK_CLIENT_ID = ""
export KEYCLOAK_CLIENT_SECRET = ""
export ORDERS_SERVICE_URL = ""